APP_HOST=runvster.runv.club
APP_PORT=3000
RAILS_ENV=production
POSTGRES_DB=runvster_production
POSTGRES_USER=runvster
POSTGRES_PASSWORD=
DATABASE_URL=
REDIS_URL=redis://redis:6379/1
SECRET_KEY_BASE=
SMTP_ADDRESS=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_DOMAIN=runvster.runv.club
SENTRY_DSN=
