.env
.DS_Store
Thumbs.db

apps/web/.bundle
apps/web/log/*
apps/web/tmp/*
apps/web/storage/*
apps/web/node_modules/*
apps/web/coverage/*

!apps/web/log/.keep
!apps/web/tmp/.keep
!apps/web/storage/.keep

old/

