<p>Oi <strong>@<%= @user.username %></strong>,</p>

<p>Recebemos um pedido para redefinir sua senha no Runvster.</p>

<p>
  <a href="<%= @reset_url %>">Redefinir senha</a>
</p>

<p>Esse link expira em 2 horas.</p>
