<p>Oi,</p>

<p>
  <strong><%= @inviter.username %></strong> te convidou para o Runvster e seu acesso continua ativo.
</p>

<p>
  Use este link para criar sua conta:
  <br>
  <a href="<%= @signup_url %>"><%= @signup_url %></a>
</p>

<p>Se voce ja entrou, pode ignorar este lembrete.</p>
